# General
NODE_ENV=development
PORT=3000

# Bot startup options
DISCORD_TOKEN=YOUR_TOKEN_HERE
BOT_PREFIX=!
BOT_PRESENCE_ACTIVITY_NAME=Moderation
BOT_PRESENCE_ACTIVITY_TYPE=WATCHING
BOT_PRESENCE_ACTIVITY_URL=https://discord.js.org
BOT_OWNER=123456789
BOT_INVITE=https://discord.com

# Databse
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=discord
TYPEORM_PASSWORD=discord
TYPEORM_DATABASE=discord
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=./src/entity/*.ts
TYPEORM_ENTITIES_DIR=./src/entity
TYPEORM_MIGRATIONS=./src/migrations
TYPEORM_MIGRATIONS_DIR=./src/migrations
TYPEORM_SUBSCRIBERS=./src/subscribers
TYPEORM_SUBSCRIBERS_DIR=./src/subscribers

# Caching
TYPEORM_CACHE=redis
TYPEORM_CACHE_ALWAYS_ENABLED=true
TYPEORM_CACHE_DURATION=30000 # 30 seconds
TYPEORM_CACHE_OPTIONS='{"host":"localhost","port":6379}'