# General
NODE_ENV=development
PORT=3000
API_ACCESS_TOKEN_SECRET=oasbgasdfhdfhjtdsbsgdjzs54513afgeaer
API_REFRESH_TOKEN_SECRET=oasbgasdfhdfhjtdsbsgdjzs54513afgeaerasdf

# ElasticStack
ELASTICSEARCH_NODE_URI=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=securePassword

# Bot startup options
DISCORD_CLIENT_ID=YOUR_CLIENT
DISCORD_CLIENT_SECRET=YOUR_SECRET
DISCORD_ACCESS_TOKEN_URI=https://discord.com/api/oauth2/token
DISCORD_AUTHORIZATION_URI=https://discord.com/api/oauth2/authorize
DISCORD_REDIRECT_URI=http://localhost:3000/auth/login/callback
BOT_OWNER=123456789
BOT_INVITE=https://discord.com

# Database
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=discord
TYPEORM_PASSWORD=discord
TYPEORM_DATABASE=discord
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=./src/entity/**/*.ts
TYPEORM_ENTITIES_DIR=./src/entity
TYPEORM_MIGRATIONS=./src/migration/**/*.ts
TYPEORM_MIGRATIONS_DIR=./src/migration
TYPEORM_SUBSCRIBERS=./src/subscriber/**/*.ts
TYPEORM_SUBSCRIBERS_DIR=./src/subscriber

# Caching
TYPEORM_CACHE=redis
TYPEORM_CACHE_ALWAYS_ENABLED=true
TYPEORM_CACHE_DURATION=30000 # 30 seconds
TYPEORM_CACHE_OPTIONS='{"host":"localhost","port":6379}'